$white: #fff;
$lightBlue: #A8DADC;
$navy: #457B9D;
$blue: #1D3557;
$red: #E63946;
$yellow: #bbbb27;
$background-color: #deedf8;
$regularFont: 'DosisRegular';
$lightFont: 'DosisRegular';
$boldFont: 'DosisBold';
